<nav class="navbar-view container-fluid">
	<div class="logo">
		<a href="{{ path('home') }}">CloseEvents</a>
	</div>

	<ul class="items list-unstyled">
		<li class="item">
			<a href="{{ path('home') }}">Inicio</a>
		</li>

		<li class="item">
			<a href="{{ path('home') }}">Fiestas</a>
		</li>

		<li class="item">
			<a href="{{ path('home') }}">Conciertos</a>
		</li>

		<li class="item">
			<a href="{{ path('home') }}">Contacto</a>
		</li>
	</ul>
</nav>
